@model PrivacyViewModel

<div class="w3-row w3-padding">
    <div class="w3-col l2 m3 s1">&nbsp;</div>
    <div class="w3-col l8 m6 s10">
        <?prettify linenums=true?>
        @Html.Raw(Model.PolicyHtml)
    </div>
</div>