@model ArticleViewModel

<div class="">
    <span>
        <a asp-action="Index"><span class="material-icons">undo</span> Back to Articles Index</a>
    </span>
    <h1 class="pt-2">@Model.Title</h1>
    <h5 class="fs-6 p-2">
        By: @Model.Author on
        @Model.PublishDate.ToString("MM/dd/yyyy hh:mm tt")
    </h5>
    <div class="row">
        <div class="col-8 offset-2 text-start">
            <?prettify linenums=true?>
            @Html.Raw(Model.HtmlText)
        </div>
    </div>
    <span><a asp-action="Index"><span class="material-icons">undo</span> Back to Articles Index</a></span>
</div>