@using Infrastructure.Models.Identity;
@using Microsoft.AspNetCore.Identity;

@inject Microsoft.AspNetCore.Http.IHttpContextAccessor Accessor
@inject SignInManager<ApplicationUser> SignInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>John Kidd Jr</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/prism/css/prism.css" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body class="line-numbers">
    <!-- header -->
    <div class="app">
        @await Component.InvokeAsync(nameof(NavigationBar))
        @RenderBody()
        <div class="pad-bottom"></div>
        <div class="footer">
            &copy; 2022-2023 John Kidd Jr. All rights reserved. <a asp-controller="About" asp-action="Privacy">Privacy Policy</a>
            <br />
            <partial name="_LoginPartial" />
        </div>
        <script src="~/lib/prism/js/prism.js"></script>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>