@using Infrastructure.Models.Identity;
@using Microsoft.AspNetCore.Identity;

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Logout</a>
}
else
{
    <a id="login" asp-area="Identity" asp-page="/Account/Login">Are you me? Need to login? Do so here.</a>
}
