@model AdminSectionViewModel

<div class="admin-dashboard">
    <h1 class="mb-4">Add New Admin Section</h1>

    <form asp-action="AddAdminSection" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="row">
            <div class="col-4 offset-1">
                <label asp-for="HeaderText" class="me-1 fw-bold">Section Header Text:</label>
            </div>
            <div class="col-6">
                <input asp-for="HeaderText" class="p-1 rounded" />
            </div>
        </div>
        <br /><br />
        <div>
            <button type="submit" value="submit" class="btn btn-primary">Add Section Header</button>
        </div>
    </form>
</div>