@model AdminSectionViewModel

<div class="admin-dashboard">
    <h1 style="margin-bottom: 40px;">Add New Admin Section</h1>

    <form asp-action="AddAdminSection" method="post">
        <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
        <div class="admin-section-add">
            <label asp-for="HeaderText" class="admin-section-add-label">Section Header Text:</label>
            <input asp-for="HeaderText" class="admin-section-add-input" />
        </div>
        <br /><br />
        <div>
            <button type="submit" value="submit">Add Section Header</button>
        </div>
    </form>
</div>