@model AdminSectionItemViewModel

<div class="admin-dashboard">
    <h1 class="mb-4">Add New Admin Section Item</h1>

    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

    @using (Html.BeginForm("AddAdminSectionItem", "Admin", FormMethod.Get, new { id = "AdminSectionForm" }))
    {
        <div class="row">
            <div class="col-4 offset-1">
                <label class="me-1 fw-bold">Select a Section:</label>
            </div>
            <div class="col-6">
                @Html.DropDownList(
                    "selectedSectionId",
                    new SelectList(ViewBag.AdminSections, "SectionId", "HeaderText"),
                    "Select a Section",
                    new { @class = "p-1 rounded", @onchange = "form.submit();", @id = "selectedSectionId" })
            </div>
        </div>
    }

    <br />
    <hr />

    @if (!string.IsNullOrWhiteSpace(Model.AdminSectionId))
    {
        @*TODO: Start here to continue converting to bootstrap *@
        <form asp-action="AddAdminSectionItem" method="post">
            <h3>Add New Item</h3>
            <input asp-for="AdminSectionId" type="hidden" value="@Model.AdminSectionId" />
            <div class="mb-1 row">
                <div class="col-2 offset-3">
                    <label asp-for="LinkText" class="me-1 fw-bold">Link Text:</label>
                </div>
                <div class="col-4">
                    <input asp-for="LinkText" class="p-1 rounded" />
                </div>
            </div>
            <div class="mb-1 row">
                <div class="col-2 offset-3">
                    <label asp-for="LinkUrl" class="me-1 fw-bold">Link Url:</label>
                </div>
                <div class="col-4">
                    <input asp-for="LinkUrl" class="p-1 rounded" />
                </div>
            </div>
            <br /><br />
            <div>
                <button type="submit" value="submit" class="btn btn-primary">Add Section Item</button>
            </div>
            <br /><br /><br />
            @if (!string.IsNullOrWhiteSpace(Model.AdminSectionId))
            {
                <hr />
                List<AdminSectionViewModel> adminSections = ViewBag.AdminSections;
                var adminSectionItems = adminSections.Where(x => x.SectionId == Model.AdminSectionId).FirstOrDefault()?.SectionItems;

                <h3>Items In Section</h3>
                <table class="table table-bordered border-primary">
                    <thead>
                        <tr>
                            <th>Link Text</th>
                            <th>Link URL</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider">
                        @if (!adminSectionItems.Any())
                        {
                            <tr>
                                <td class="p-1" colspan="2">No items in section...</td>
                            </tr>
                        }

                        @foreach (var sectionItem in adminSectionItems)
                        {
                            <tr>
                                <td class="p-1">@sectionItem.LinkText</td>
                                <td class="p-1">@sectionItem.LinkUrl</td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </form>
    }
</div>