@model AdminViewModel

<div class="admin-dashboard">
    <h1>Admin Dashboard</h1>

    @if(!string.IsNullOrWhiteSpace(Model.Message))
    {
        <div class="admin-message-text">@Model.Message</div>
    }

    @foreach(var adminSection in Model.Sections)
    {
        <div class="admin-section">
            <div class="admin-section-header">@adminSection.HeaderText</div>
            <ul class="admin-section-items">
                @foreach(var sectionItem in adminSection.SectionItems)
                {
                    <li class="admin-section-item"><a href="@sectionItem.LinkUrl">@sectionItem.LinkText</a></li>
                }
            </ul>
        </div>
    }

    <div class="clearFix"></div>
</div>