@model AdminViewModel

<h1 class="pb-3">Admin Dashboard</h1>

@if (!string.IsNullOrWhiteSpace(Model.Message))
{
    <div class="alert alert-info alert-dismissible fade show w-25 mx-auto" role="alert">
        @Model.Message
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="row">
    <div class="col-10 offset-1">
        <div class="row">
            @foreach(var adminSection in Model.Sections)
            {
                <div class="col-4">
                    <div class="fs-3 fw-bold mb-2">@adminSection.HeaderText</div>
                    <ul class="list-unstyled m-0 p-0">
                        @foreach(var sectionItem in adminSection.SectionItems)
                        {
                            <li class="mb-1"><a class="text-decoration-none text-primary-emphasis" href="@sectionItem.LinkUrl">@sectionItem.LinkText</a></li>
                        }
                    </ul>
                </div>
            }
        </div>
    </div>
</div>