@model HomeViewModel

<div class="row">
    <div class="col-8 offset-2 align-self-center">
        <h1>Welcome!</h1>
        <h3>@Model.HeaderText</h3>
        <br />
        <div class="text-start">@Model.BodyHtml</div>
    </div>
</div>